<p>catalin-developer works!</p>

<p>Acesta este primul meu program!</p>

<p *ngIf="title.length > 5">{{ title }}</p>

<div>
    <p *ngFor="let name of names">{{ name }}</p>
</div>

<!-- JAVASCRIPT -->
<!-- <button onclick="showAlert()">Alert!</button> -->

<!-- TYPESCRIPT -->
<button (click)="showAlert()">Alert!</button>