<form [formGroup]="formData" class="login-form" (ngSubmit)="sendForm()">
    <input class="element-bottom-margin" type="email" formControlName="email" placeholder="popescu@gmail.com" />

    <input class="element-bottom-margin" type="password" formControlName="password" placeholder="password" />

    <button class="element-bottom-margin btn-login" type="submit">Login</button>
</form>