<nav>
    <ul>
        <li><a routerLink="/catalin/dasda" routerLinkActive="active">Catalin Component</a></li>
        <li><a routerLink="/forms-exam-page" routerLinkActive="active">Forms Exam Component</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>