<div>
    <app-add-edit-dog [dogName]="selectedDog.name"></app-add-edit-dog>


    <p *ngFor="let item of doggies" (click)="selectDog(item)">
        {{item.name}} - {{item.age}}
    </p>
    <p *ngIf="doggies.length < 2 "> Who let the dogs out?</p>
    <button (click)="showAlert()">
        Click me!
    </button>
    <button (click)="addDog()">
        Add Dog!
    </button>
</div>